@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/ralewaykit/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/ralewaykit/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'ralewayregular', Arial, sans-serif;
color: #fff;
}

.container {
  margin: 0 auto;
}
